.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0;
  z-index: 1001;
  width: 66vw;
  height: 76vh;
}
button.popup_close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: rgb(104, 169, 155);
  background: linear-gradient(
    90deg,
    rgba(104, 169, 155, 1) 3%,
    rgba(108, 171, 156, 1) 24%,
    rgba(118, 174, 156, 1) 44%,
    rgba(137, 180, 158, 1) 67%,
    rgba(158, 188, 159, 1) 89%
  );
}
.main_container{
  display: flex;
}
.left_container{
  width: 65%;
}
.right_container{
  width: 35%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-next {
  right: 5px!important;
}
.slick-prev {
  left: 5px;
  z-index: 9;
}
